

body {
  margin: 0;
  background: #111;
  color: aliceblue;
  width: 100%;
  max-width: 1920px;
  padding: 0;
  font-family: "raleway", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
  background: url("./city-min.png");
  height:70vh;
  background-size:100%;
}
.header h1 {
  display: none;
}

.react-spinners--climbing-box{
position: fixed;
width: 100%;
top: 50vh;
}

.outer{
  text-align: center;
}

.spinner {
  background:url("https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif")center no-repeat #fff; 
  top:0;
  height: 100%;
  position:fixed;
  z-index: 99;
  width: 100%;
}

nav{
  background: #000;
  padding: 0;
  text-align: center;
  position: fixed;
  width: 100%;
}

nav ul {
  background: #222;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  z-index: 99;
}

nav ul li {
  display: inline-table;
  margin-right: 10px;
  font-weight: bold;
  list-style: none;
  color: #11CC91;
  position: relative; 
}

nav ul li a {
 text-decoration: none;
 padding: 10px;
 font-size: 14px;
 color: #11CC91;
 display: block;
 
}


.line {
 width: 0px;
  left: 0;
  position: absolute;
  background: #11CC91;
  height: 5px;
  bottom: 0;
  transition:all 0.300s ease-in-out;
}

.news {
  column-count:3 ;
  column-gap: 0px;

}
.quote {
  background: #222;
  padding: 5px 0;
  text-align: center;
  color: #555;
}
.article {
  text-align: center;
  padding: 10px;
  width: 90%;
  background: #222;
  margin: 5px;
  color: #999;
  display: inline-table;
  animation: slide 0.600s ease-in-out;
   
}


.articleTitle {
  font-size: 30px;
  color: #eee;
  font-family: "Lora", serif;
}

.article div {
  display: inline-table;
  vertical-align: top;
}

.articleImg {
  width: 100%;
  height: auto;
  margin-right: 20px;
 
}

.articleImg img {
  width: 100%;

}

#menu {
  padding: 10px;
  display: none;
  text-align: center;
  margin: 0;
  color: #eee;
   cursor: pointer;
}

#powered, #powered a{
  padding: 5px;
  margin: 0;
  color: #eee;
  display: inline-table;
  }


.search{
 margin-bottom: 40px;
  
}

.search *{
  margin: 0 auto;
  display: inline-table;
}

#source, #relevance {
  padding: 10px;
  font-size: 20px;
  border:none;
  border-bottom:1px solid #eee;
}  

#searchButton{
  padding: 10px;
  color: #222;
  cursor: pointer;
  border:1px solid #11CC91;
  color: #11CC91;
  background: none;
  font-size: 20px;
  transition: all 0.200s ease-in-out;
}
#searchButton:hover{
  background: #11CC91;
  color: #222;
  
}


.meta * {

margin: 0px;
color: #eee;
font-style: italic;
padding: 0;
}
.articleDesc{
  text-align: justify;
}

footer p {
  border-top:1px solid #222;
  padding-top: 10px;
  text-align: center;
color: #222;
}

.go {
  border: 1px solid #CC3112;
  padding: 10px;
  display: block;
  color: #CC3112;
  text-decoration: none;
transition: all 0.200s ease-in-out;
}

.go:hover {
  background: #CC3112;
  color: #eee;
}

@media (min-width:650px) and (max-width: 960px){
 #powered{
   display: block;
  border-bottom:1px solid #111;
  }

  

  .header {
    height:40vh;
   
  }
  nav ul{
    text-align: center;
  }
  nav ul li {
    border-top:none;
  }

  .article {
    
    width: 80%;
  
     
  }

 

}

@media (min-width: 481px) and (max-width: 649px){
 
  .header {
   height: 40vh;
  }
 
  #menu {
    padding: 15px 0;
    display: block;
  }

nav ul li {
  display: block;
  text-align: center;
  margin: 0;
  border-top:1px solid #111;
}

nav ul li a {
  padding: 18px 0;
}

  .news {
    column-count: 2;
    text-align: center;
 
   }
   .article {
     width: 90%;
   }
}


@media (min-width: 0px) and (max-width: 480px){
  
  .header {
    display: none;
  }
  .quote {
    display: none;
  }


  .outer{
    padding: 50px 10px;
  }
  .news {
   column-count: 1;
   text-align: center;

  }
 
  .news h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
  #powered {
    text-align: center;
    display: block;
    
  }
.line {
  display: none;
}

  .header {
    height:20vh;
   
  }
 

  h1 {
      font-size: 20px;
  }
  .article {
    width: 85%;
    margin-bottom: 5px; 
  }

  #menu {
    background: #222;
    border-bottom: 1px solid #11CC91;
    padding: 15px 0;
    display: block;
    color: #11CC91;
  }

nav ul li {
  display: block;
  text-align: center;
  margin: 0;
  border-top:1px solid #111;
}

nav ul li a {
  padding: 18px 0;
}

  nav ul li a:hover{
    background:  #11CC91;
    color: #111;
  }

  .search *{
    display: block;
    width: 80%;
  }
  
.articleTitle{
  text-align: center;
}


}


@keyframes slide {
  0%{transform: translateY(-20px); opacity: 0}
  100%{transform: translateY(0); opacity: 1}
}

